*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  background-color: #1c2230;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header,
.lien {
  font-size: 1.0625rem;
}
@media screen and (max-width: 425px) {
  .header,
.lien {
    font-size: 0.875rem;
  }
}

h1 {
  font-size: 2.1875rem;
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.9375rem;
  }
}
@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.625rem;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 375px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.1875rem;
}
@media screen and (max-width: 425px) {
  h3 {
    font-size: 1.03125rem;
  }
}
@media screen and (max-width: 375px) {
  h3 {
    font-size: 1rem;
  }
}

p {
  font-size: 1.125rem;
}
@media screen and (max-width: 425px) {
  p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  p {
    font-size: 0.90625rem;
  }
}

.header,
.lien {
  font-family: "open sans", sans-serif;
}

h1 {
  font-family: "open sans", sans-serif;
  color: #fbffff;
}

h2 {
  font-family: "open sans", sans-serif;
}

h3 {
  color: #fbffff;
  font-family: "open sans", sans-serif;
}

p {
  line-height: 1.5625rem;
  font-family: "open sans", sans-serif;
  color: #e3e6ee;
}

@media screen and (max-width: 425px) {
  .section3 h1 {
    font-size: 1.25rem;
  }
}

.section4 p {
  font-size: 1.0625rem;
}
@media screen and (max-width: 1024px) {
  .section4 p {
    font-size: 0.9375rem;
  }
}

input {
  font-size: 1.1875rem;
  font-family: "open sans", sans-serif;
}

.header__links {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6.25rem 0 0 0;
    width: 100%;
    min-width: 40vh;
    position: absolute;
    background-color: #124575;
    border-bottom: 1px solid #65e2d9;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 99;
  }
  .header__links.open {
    transform: translate(0);
  }
}
.header__links a {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  margin-right: 3.75rem;
  color: white;
  transition: color 300ms ease-in-out;
  position: relative;
  letter-spacing: 0.0625rem;
}
@media screen and (max-width: 780px) {
  .header__links a {
    letter-spacing: normal;
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 460px) {
  .header__links a {
    margin-right: 0.9375rem;
    letter-spacing: 0.0625rem;
  }
}
.header__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #65e2d9;
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.header__links a:hover {
  color: #65e2d9;
}
.header__links a:hover::after {
  transform: scale(1);
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 92%;
  margin: 2.5rem auto;
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin: 1.5625rem auto 5rem;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin: 1.5625rem auto 4.375rem;
  }
}
.header img {
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
}
@media screen and (max-width: 425px) {
  .header img {
    width: 60%;
    margin-left: 0;
  }
}
.header .humburgers {
  cursor: pointer;
  margin-right: 3.125rem;
  margin-bottom: 0.625rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .header .humburgers {
    display: block;
  }
}
.header .humburgers .line {
  position: absolute;
  z-index: 100;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 10px;
  background: #f1f1f1;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
}
.header .humburgers .l1 {
  transform: translateY(-8px);
}
.header .humburgers .l3 {
  transform: translateY(8px);
}
.header .humburgers.open .l1 {
  transform: translateY(0px) rotate(135deg);
}
.header .humburgers.open .l2 {
  opacity: 0;
}
.header .humburgers.open .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.footer {
  background-color: #0b1523;
  padding: 14.375rem 0 1.875rem;
}
.footer .container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 870px) {
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer .logo {
  width: 40%;
}
@media screen and (max-width: 870px) {
  .footer .logo {
    width: 90%;
    text-align: center;
    margin-bottom: 1.875rem;
  }
}
.footer .logo__img {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 870px) {
  .footer .logo__img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 320px) {
  .footer .logo__img {
    margin-bottom: 1.5625rem;
  }
}
.footer__contact {
  margin-top: 5rem;
}
@media screen and (max-width: 1024px) {
  .footer__contact {
    margin-top: 3.75rem;
  }
}
@media screen and (max-width: 870px) {
  .footer__contact {
    margin-top: 0.625rem;
  }
}
.footer__contact li {
  margin-bottom: 0.625rem;
}
.footer__contact img {
  margin-right: 0.625rem;
}
.footer__links {
  width: 23%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 8.125rem;
}
@media screen and (max-width: 1024px) {
  .footer__links {
    margin-top: 7.1875rem;
  }
}
@media screen and (max-width: 870px) {
  .footer__links {
    width: 50%;
    margin-top: 1.875rem;
  }
}
@media screen and (max-width: 425px) {
  .footer__links {
    width: 70%;
  }
}
.footer__links li {
  margin-bottom: 0.625rem;
}
.footer__links a {
  color: white;
  font-family: "open sans", sans-serif;
  position: relative;
  transition: color 300ms ease-in-out 0.1s;
  letter-spacing: 0.0625rem;
}
.footer__links a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #65e2d9;
  transform: scale(1);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.footer__links a:hover {
  color: #65e2d9;
}
.footer__links a:hover::after {
  transform: scale(0);
}

.cards {
  width: 60%;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 700px) {
  .cards {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
  }
}
.form input {
  width: 40%;
  border-radius: 1.875rem;
  padding: 0.6875rem 0.9375rem;
  margin-right: 1.875rem;
  background-color: rgb(235, 232, 232);
  outline: none;
  border: none;
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 1100px) {
  .form input {
    width: 55%;
    margin-right: 1.25rem;
  }
}
@media screen and (max-width: 870px) {
  .form input {
    width: 75%;
    margin: 0 auto 1.25rem;
  }
}
@media screen and (max-width: 600px) {
  .form input {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .form input {
    width: 100%;
  }
}
.form input:hover, .form input:focus, .form input:valid {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border: 2px solid #339ecc;
}
.form input:not(:focus):invalid, .form input:not(:hover):invalid {
  border: 2px solid rgb(255, 66, 66);
  animation: shake-horizontal 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.btn {
  font-family: "open sans", sans-serif;
  width: 15.625rem;
  background-color: #339ecc;
  padding: 0.9375rem;
  border-radius: 1.875rem;
  position: relative;
  z-index: 1;
  border: none;
  cursor: pointer;
  letter-spacing: 0.125rem;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 1.875rem;
  background-color: #65e2d9;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.btn:hover::before {
  opacity: 1;
}
.btn a {
  color: white;
  z-index: 2;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #e3e6ee;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(0deg, #339ecc 30%, #0b3d39 100%);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg, #297ea3 20%, #0b3d39 100%);
}
::-webkit-scrollbar-thumb:active {
  background: linear-gradient(0deg, #0b3d39 50%, #339ecc 100%);
}

.section1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3.125rem;
}
@media screen and (max-width: 768px) {
  .section1 {
    margin-top: 8.125rem;
  }
}
.section1__img > img {
  width: 75%;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 425px) {
  .section1__img > img {
    margin-top: 1.875rem;
  }
}
.section1__text {
  width: 80%;
}
.section1__text h1 {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 600px) {
  .section1__text h1 {
    width: 100%;
  }
}
.section1__text p {
  width: 50%;
  margin: 0 auto;
  color: #e3e6ee;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .section1__text p {
    width: 80%;
  }
}
@media screen and (max-width: 425px) {
  .section1__text p {
    width: 100%;
  }
}
.section1 .wave {
  position: absolute;
  z-index: -9999;
  bottom: -12.5rem;
}
@media screen and (max-width: 1024px) {
  .section1 .wave {
    bottom: -7.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section1 .wave {
    bottom: -3.125rem;
  }
}
@media screen and (max-width: 320px) {
  .section1 .wave {
    bottom: -1.25rem;
  }
}

.section2 {
  background-color: #181F2B;
  margin-top: 10.625rem;
  color: #fbffff;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .section2 {
    margin-top: 7.1875rem;
  }
}
@media screen and (max-width: 768px) {
  .section2 {
    margin-top: 1.875rem;
  }
}
@media screen and (max-width: 425px) {
  .section2 {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .section2 {
    margin-top: -0.625rem;
  }
}
.section2 .lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .section2 .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.section2 h2 {
  margin: 1.5625rem 0 0.9375rem 0;
}
.section2 p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 768px) {
  .section2 p {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 425px) {
  .section2 .line1 {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .section2 .line1 {
    padding-top: 6.25rem;
  }
}

.section3 {
  background-color: #181F2B;
  padding-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.section3__img {
  text-align: center;
  margin-left: 1.25rem;
}
.section3__img > img {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .section3__img > img {
    width: 90%;
    margin-top: 0rem;
  }
}
.section3__text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .section3__text {
    width: 90%;
    margin-left: 0.9375rem;
  }
}
.section3__text h1 {
  width: 65%;
  margin-bottom: 1.875rem;
}
@media screen and (max-width: 1040px) {
  .section3__text h1 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section3__text h1 {
    width: 100%;
    margin: 1.875rem 0;
  }
}
.section3__text p {
  width: 90%;
  margin: 1.25rem 0;
}
@media screen and (max-width: 768px) {
  .section3__text p {
    width: 100%;
  }
}
.section3__text a {
  position: relative;
  color: white;
  transition: color 300ms ease-in-out 0.1s;
}
.section3__text a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #65e2d9;
  transform: scale(1);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.section3__text a:hover {
  color: #65e2d9;
}
.section3__text a:hover::after {
  transform: scale(0);
}

.section4 {
  background-color: #181F2B;
  padding-top: 11.25rem;
}
.section4 .container {
  z-index: 1;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
}
@media screen and (max-width: 768px) {
  .section4 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.section4 .container > img {
  position: absolute;
  z-index: -1;
  top: -2.5rem;
  left: 0;
}
.section4 .boxs {
  cursor: pointer;
  background-color: #202a3c;
  width: 31%;
  transition: transform 300ms ease-in-out;
  border-radius: 0.625rem;
  padding: 1.875rem 1.875rem 1.25rem;
}
@media screen and (max-width: 768px) {
  .section4 .boxs {
    width: 95%;
    margin-bottom: 1.875rem;
  }
}
.section4 .boxs:hover {
  transform: translateY(-10px);
}
.section4 .boxs p {
  margin-bottom: 1.25rem;
}
.section4 .profile {
  display: flex;
  align-items: center;
}
.section4 .profile img {
  width: 3.125rem;
  margin-right: 0.625rem;
  border-radius: 50%;
  object-fit: cover;
}
.section4 .profile h3 {
  margin-bottom: 0.1875rem;
}
.section4 .profile p {
  margin: 0;
}

.section5 {
  background-color: #181F2B;
  position: relative;
  padding-top: 9.375rem;
}
@media screen and (max-width: 768px) {
  .section5 {
    padding-top: 8.125rem;
  }
}
.section5 .container {
  background-color: #1c2230;
  width: 70%;
  transform: translateY(6.25rem);
  margin: 0 auto;
  padding-bottom: 2.5rem;
  text-align: center;
  border-radius: 0.9375rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .section5 .container {
    width: 90%;
  }
}
.section5 .text {
  width: 90%;
  margin: 0 auto 1.875rem;
}
.section5 h1 {
  padding-top: 1.875rem;
  margin-bottom: 1.25rem;
}
.section5 p {
  width: 70%;
  margin: 0 auto 3.125rem;
}
@media screen and (max-width: 768px) {
  .section5 p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
