@use "../utils/mixins" as m;
@use "../utils/functions" as f;
@use "../utils/variables" as v;
@use "../page/breakpoints" as b;

.header {
  &__links {
    text-align: center;
    @include b.md {
      @include m.flex($direction: column);
      padding: f.rem(50) 0 0 0;
      width: 100%;
      min-width: 40vh;
      position: absolute;
      background-color: #124575;
      border-bottom: 1px solid v.$accent-secondary-color;
      transform: translateX(100%);
      transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
      z-index: 99;
      &.open {
        transform: translate(0);
      }
    }
    a {
      margin-bottom: f.rem(15);

      font-weight: 600;
      margin-right: f.rem(60);
      color: white;
      transition: color v.$transition;
      position: relative;
      letter-spacing: f.rem(1);
      @include b.breakpoints(780px) {
        letter-spacing: normal;
        margin-right: f.rem(20);
      }
      @include b.breakpoints(460px) {
        margin-right: f.rem(15);
        letter-spacing: f.rem(1);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 2px;
        width: 100%;
        background-color: v.$accent-secondary-color;
        transform: scale(0);
        transform-origin: left;
        transition: transform v.$transition;
      }
      &:hover {
        color: v.$accent-secondary-color;
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}
