@use "../utils/variables" as v;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  background-color: v.$secondary-color;
}

html {
  scroll-behavior: smooth;
  // overflow-x: hidden;
}

