@use "../utils/mixins" as m;
@use "../utils/functions" as f;
@use "../utils/variables" as v;
@use "../page/breakpoints" as b;
@use "../utils/placeholders";

.header,
.lien {
  @extend %size-text;
  font-family: v.$font;
}

h1 {
  font-family: v.$font;
  @extend %size-text-h1;
  color: v.$title-color;
}

h2 {
  font-family: v.$font;
  @extend %size-text-h2;
}

h3 {
  color: v.$title-color;
  font-family: v.$font;
  @extend %size-text-h3;
}

p {
  @extend %size-text-p;
  line-height: f.rem(25);
  font-family: v.$font;
  color: v.$p-color;
}

.section3 {
  h1 {
    @include b.ml {
      font-size: f.rem(20);
    }
  }
}

.section4 {
  p {
    font-size: f.rem(17);
    @include b.xl {
      font-size: f.rem(15);
    }
  }
}

input {
  font-size: f.rem(19);
  font-family: v.$font;
}
