@use "../utils/mixins" as m;
@use "../utils/functions" as f;
@use "../utils/variables" as v;
@use "../page/breakpoints" as b;

%size-text {
  font-size: f.rem(17);
  @include b.ml {
    font-size: f.rem(13);
  }
}

%size-text-h1 {
  font-size: f.rem(30);
}

%size-text-p {
  font-size: f.rem(17);
}

