$main-color :  #181F2B;
$secondary-color : #1c2230;
$accent-color : #339ecc; 
$accent-secondary-color : #65e2d9; 
$p-color : #e3e6ee;
$base-font-size: 16;
$transition : 300ms ease-in-out;
$font: "open sans", sans-serif;